<!-- This is a static file -->
<!-- served from your routes in server.js -->

<!-- You might want to try something fancier: -->
<!-- html/nunjucks docs: https://mozilla.github.io/nunjucks/ -->
<!-- pug: https://pugjs.org/ -->
<!-- haml: http://haml.info/ -->
<!-- hbs(handlebars): http://handlebarsjs.com/ -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Welcome to Glitch!</title>
    <meta name="description" content="A cool thing made with Glitch">
    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/style.css">
    
    <!-- import the webpage's client-side javascript file -->
    <script src="/client.js" defer></script>
  </head>
  
  <script>
    console.log("aye");
    
    
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '528140651036828',
      cookie     : true,
      xfbml      : true,
      version    : 'v3.2'
    });
      
    FB.AppEvents.logPageView();   
      
    
    
    FB.getLoginStatus(function(response){
      console.log(response);
      if (response.status === "connected"){
        FB.api('/me', 'GET', {fields: 'first_name,last_name,name,id,picture.width(50).height(50)'}, function(response) {
          // document.getElementById('status').innerHTML = response.id;
          // console.log(response.name);
          document.getElementById('user_photo').src = response.picture.data.url;
          document.getElementById('user_name').innerHTML = response.name;
          document.getElementById("head").innerHTML = "Welcome to<br/>MC Senti";
        });
        FB.api('/326043571334336/feed?fields=id,message,name,comments', {
            'access_token': 'EAAHgV1PlgJwBAKxcHRzjZCYKMKR2hOaZCnoRXmOcIOI7lL7y7vtJK15Im2AGcDZBRqXobFsZCuHKaG7yA7NBTYIwO8Uu7VpqoAHckRyE5zfRZBv4ibEH8hHUmc69Y1rSqoGM6hP4LwHViEZBscYKDe8A3KupTEK3OwYov1ZAZBx3CuIjVdKb3ZAmvVG3wZC2y0VaIZD'
        }, function(api_response) {
          console.log(api_response);
          document.getElementById("recent_posts").innerHTML = "<strong>Recent Posts</strong><br/><br/>";
          api_response["data"].forEach(function (post){
            // console.log(post["message"]);
            document.getElementById("recent_posts").innerHTML += "<em>" + JSON.stringify(post["message"]) + "</em><br/>";
            document.getElementById("recent_posts_comments").innerHTML += "<em>" + JSON.stringify(post["comments"]["data"]) + "</em><br/>";
          });
          
        });
      } else {
        document.getElementById("head").innerHTML = "Please Log In";
      }
    })
  };
    
    
  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "https://connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
  </script>
  
  <body>
    
    <header>
      <h1 id="head">
        MC Senti
      </h1>
      
      
      <div id="user_info">
        <img id="user_photo"/>
        <span id="user_name" style="position: relative; bottom: 20px"></span>
      </div>
        
      
      <p id="recent_posts">
        
      </p>
      
      
    </header>

    <main>
      
      
    </main>

  </body>
</html>

<style>
  * {
    overflow-wrap: break-word;
  }
  
  #head, #user_info {
    text-align: center;
  }
</style>