<!-- This is a static file -->
<!-- served from your routes in server.js -->

<!-- You might want to try something fancier: -->
<!-- html/nunjucks docs: https://mozilla.github.io/nunjucks/ -->
<!-- pug: https://pugjs.org/ -->
<!-- haml: http://haml.info/ -->
<!-- hbs(handlebars): http://handlebarsjs.com/ -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Welcome to Glitch!</title>
    <meta name="description" content="A cool thing made with Glitch">
    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/style.css">
    
    <!-- import the webpage's client-side javascript file -->
    <script src="/client.js" defer></script>
  </head>
  
  <script>
    console.log("aye");
    
    
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '528140651036828',
      cookie     : true,
      xfbml      : true,
      version    : 'v3.2'
    });
      
    FB.AppEvents.logPageView();   
      
    
    
    FB.getLoginStatus(function(response){
      console.log(response);
      if (response.status === "connected"){
        FB.api('/me', 'GET', {fields: 'first_name,last_name,name,id,picture.width(50).height(50)'}, function(response) {
          // document.getElementById('status').innerHTML = response.id;
          // console.log(response.name);
          document.getElementById('user_photo').src = response.picture.data.url;
          document.getElementById('user_name').innerHTML = response.name;
          document.getElementById("head").innerHTML = "Welcome to<br/>MC Senti";
        });
        FB.api('/326043571334336/feed?fields=id,message,name,comments', {
            'access_token': 'EAAHgV1PlgJwBAD6yA0RM1mcUDUJ9fZABZAAmrsrISvtV9S4Vqmqbb9q2Yul2U5vxZCyoCx4nZA9jYCJczxZCZC3vtvG5jBxmmLXKmnPNQo8OIDympfGyq0M2CqbIt8NhUEM1ihWHTfZBQXIkmYf4O0iop2GiRksdFe37uGQGYiNw3wcjt4ZB6FUkTDTy24rvwAgZD'
        }, function(api_response) {
          console.log(api_response);
          document.getElementById("recent_posts").innerHTML = "<strong>Recent Posts</strong><br/><br/>";
          
          if (api_response){
            api_response["data"].forEach(function (post){
              // console.log(post["message"]);
              var parent_post = "<div style='border: dotted 2px; margin: 10px'>" 
              parent_post += JSON.stringify(post["message"]) + "<br/>";
              // document.getElementById("recent_posts").innerHTML +=;
              
              if (post["comments"]){
                  var post_comments = ""; 
                  post_comments += "<div style='position: relative; padding: 20px;'>";  
                  post["comments"]["data"].forEach(function(comment){
                    var comment = JSON.stringify(comment["message"]).replace("'","");
                    // console.log(commentasd);
                     post_comments += "<button onclick='analyze(" + comment + ")'>" + comment + "</button><br/>";
                  })
                   post_comments += "</div>";
                   parent_post +=  post_comments; 
              }
              
              parent_post += "</div><br/>";
              document.getElementById("recent_posts").innerHTML += parent_post;
            });
          }
          
        });
      } else {
        document.getElementById("head").innerHTML = "Please Log In";
      }
    })
  };

  function clearModal(){
      document.getElementById("analysis_modal").style = "";
      document.getElementById("modal_background").style = "";
      document.getElementById("analysis_modal").innerHTML = "";
      document.getElementById("modal_background").innerHTML = "";
  }
  
  function analyze(message){
    var oReq = new XMLHttpRequest();
    // oReq.onload = window.setTimeout(console.log(JSON.stringify(oReq.responseText)), 3000);
    oReq.open("POST", "https://text-sentiment.p.rapidapi.com/analyze");
    oReq.setRequestHeader("X-RapidAPI-Key", "GJjeiXWiy9msh8PhUc5GY5sarPaPp1hxySTjsnKmViFAeiK8jC");
    oReq.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
    oReq.setRequestHeader("Access-Control-Allow-Origin", "*");
    // oReq.setRequestHeader("text", message);
    // console.log(typeof(oReq.send()));
    oReq.send("text=" + message);
    
    document.getElementById("modal_background").style = "position: absolute; visibility: visible; top: 0px; left: 0px; width: 100%; height: 100%; opacity: .5; background-color: grey;";
    
    document.getElementById("analysis_modal").style = "position: absolute; visibility: visible; top: 45vh; width: 70vw; border: dotted 5px; background-color: white;";
    
    document.getElementById("analysis_modal").innerHTML = "Please wait";
    oReq.onreadystatechange = function() {
    

      if (oReq.readyState == 4 && oReq.status == 200) {
        document.getElementById("analysis_modal").innerHTML = oReq.responseText;
      } else {
        document.getElementById("analysis_modal").innerHTML = "Something went wrong<br/>" + oReq.responseText;
      }
        document.getElementById("analysis_modal").innerHTML += "<br/><button onclick=\"clearModal()\">ok</button>";
      
       
    }
    // alert(message);
  }
    
    
  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "https://connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
  </script>
  
  <body>
    
    <header>
      <h1 id="head">
        MC Senti
      </h1>
      
      <div id="user_info">
        <img id="user_photo"/>
        <span id="user_name" style="position: relative; bottom: 20px"></span>
      </div>
      
    </header>

    <main>
      
      <p id="recent_posts">
        
      </p>
      
      <div id="modal_background">
      </div>

      <div id="analysis_modal">
      </div>
      
    </main>

  </body>
</html>

<style>
  * {
    overflow-wrap: break-word;
    text-align: center;
  }
  
  #head, #user_info {
  }
</style>